body {
    display: flex;
    background-color: lightcyan;
    justify-content: center;
    align-items: center;
}

#gameButton {
    background-color: gainsboro;
    width: 3rem;
    height: 3rem;
    font-size: large;
}